body {
  font-family: 'ZCOOL XiaoWei',serif;
  color: white;
  text-align: center;
  background-color: #1A36AE}

.btn {
  font-size: 25px;
  border: 0;
  border-radius: 5px;
  font-family: 'ZCOOL XiaoWei',serif;
  background-color: white
}

.btn:hover {
  background-color: #30A1BD;
}
.image-container {
   position: relative;
   height: 100%;
   width: auto;
   }
.image-container img {
  width: 100%;
  height: auto;
  }
  .floating-text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 50px;
    z-index: 10;
  }
  .jieshao{
    font-size: 30px;
    line-height: 4px;
  }
